---
http_interactions:
- request:
    method: get
    uri: https://test.deribit.com/api/v2/public/ping
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":"pong","usIn":1567859326195735,"usOut":1567859326195748,"usDiff":13,"testnet":true}'
  recorded_at: Sat, 07 Sep 2019 12:28:46 GMT
recorded_with: VCR 5.0.0
